<center><div class="titleGallery">Listing all arts</div></center>
<% @arts.each do |art| %>
  <div class="cardG">
    <div class="artBox">
      <% if art!=nil  %>
        <center><div class="imgFormat", align="center"><%= image_tag art.image %></div></center>
      <% end %>
    </div>
    <div class="cardcontext">
      <p>Title: <%= art.title %></p>
      <p>Author: <%= art.author %></p>
      <p><%= link_to 'Show', art_path(art) %></p>
    </div>
  </div>
<% end %>